body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem; /*100% == 16px == 1em*/
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted 6px;
  color: lightgray;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.topcontainer {
  position: relative;
  background-color: rgb(176, 232, 225);
  padding-top: 100px;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  color: #11999e;
}

.hobby-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-image {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.juggling-image {
  width: 25%;
  height: 25%;
  border-radius: 20%;
  float: right;
  margin-left: 30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 80px;
}

.year-name {
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0;
}
/* 
display

  inline: width and height cannot be set
  inline-block: width and height can be set
  block: width and hight can be set but fills the entire block

position
  static : normal structre coming from html file
  relative: to its own place before, has no effect on other elements
  absolute: relative to the parent and effects the other elements
  fixed : does not move even though we scroll the page

   */
